<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.examplee"
        versionCode = "20" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>WaterCheck</name>

    <description>
        Application that keeps check your water levels
    
    </description>

    <author>
        L. V.
    </author>
	
	
	
	<!-- required plugins go here -->
	 <plugin name="cordova-plugin-dialogs"/>    
     <plugin name="cordova-plugin-local-notification" version="0.8" />
</widget>